<mat-toolbar class="bg-blue-200">
    <span class="material-symbols-rounded">menu</span>
    <div class="search-container">
        <mat-form-field class="search-bar" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search">
            <button mat-icon-button matSuffix>
            <span class="material-symbols-rounded">search</span>
        </button>
        </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <button class="text-white font-medium px-3 py-2 bg-blue-500 rounded-full">
        Subscribe
    </button>
</mat-toolbar>